p {
  font-family: sans-serif;
  font-size: 20px;
  font-family: arial;
	
	}
h1 style="pavadinimas1"{
	color:deeppink
}

p.paragrafas2{
	color: darkgrey;
}
p.pavadinimas1{
	color:deeppink
}
span{
	font-style: oblique;
}
h1 {
	color: deeppink;
}
p.paragrafas1 

